<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>412098153116-r8naaaum2hpjjhffa3h6rqdlt1202dg7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.412098153116-r8naaaum2hpjjhffa3h6rqdlt1202dg7</string>
	<key>API_KEY</key>
	<string>AIzaSyAgMO_7DB6YwX33SpzoD0vhoxwcA63qpAc</string>
	<key>GCM_SENDER_ID</key>
	<string>412098153116</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hobbyList.ios</string>
	<key>PROJECT_ID</key>
	<string>hobbylist-5e4a4</string>
	<key>STORAGE_BUCKET</key>
	<string>hobbylist-5e4a4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:412098153116:ios:4e1ec1a75b227c31</string>
	<key>DATABASE_URL</key>
	<string>https://hobbylist-5e4a4.firebaseio.com</string>
</dict>
</plist>